#icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5px);
  grid-gap: 6px 80px;
}

.icon {
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding: 5px;
  width: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon img {
  width: 60px;
  height: 60px;
}
.icon p {
  margin-top: -2px;
  font-size: 80%;
  word-wrap: break-word;
  width: 100%;
  text-align: center;
  flex: 1;
}
