#icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5px);
  grid-gap: 90px;
}

.icon {
  background-color: var(--bg-light);
  border-radius: 0.5rem;
  padding: 5px;
  width: 80px;
  height: 80px;
}
